<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.github.googlei18n.ufo2ft.filters</key>
    <array>
      <dict>
        <key>name</key>
        <string>eraseOpenCorners</string>
        <key>namespace</key>
        <string>glyphsLib.filters</string>
        <key>pre</key>
        <true/>
      </dict>
    </array>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3113</string>
    <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.Axis Location</key>
    <array>
      <dict>
        <key>Axis</key>
        <string>Width</string>
        <key>Location</key>
        <integer>150</integer>
      </dict>
      <dict>
        <key>Axis</key>
        <string>Weight</string>
        <key>Location</key>
        <integer>100</integer>
      </dict>
    </array>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
    <integer>0</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
    <string></string>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
    <integer>150</integer>
    <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.fontMasterOrder</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.keyboardIncrement</key>
    <integer>1</integer>
    <key>com.schriftgestaltung.weight</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.weightValue</key>
    <integer>150</integer>
    <key>com.schriftgestaltung.width</key>
    <string>Regular</string>
    <key>com.schriftgestaltung.widthValue</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <false/>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <false/>
    <key>com.typemytype.robofont.generateFeaturesWithFontTools</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.smartSets.uniqueKey</key>
    <string>4674006736</string>
    <key>layerinfo.color</key>
    <string>1,0.75,0,0.7</string>
    <key>public.glyphOrder</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Adieresis</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>S.closed</string>
      <string>I.narrow</string>
      <string>J.narrow</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>comma</string>
      <string>period</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>dieresis</string>
      <string>acute</string>
      <string>space</string>
      <string>IJ</string>
      <string>acutecomb</string>
      <string>dotaccentcomb</string>
      <string>dieresiscomb</string>
      <string>leftArrow</string>
      <string>upArrow</string>
      <string>rightArrow</string>
      <string>downArrow</string>
    </array>
  </dict>
</plist>
